@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  html,body{
    overflow-x: hidden;
  }
  .up {
        font-family: 'Poppins';font-size: 18px;
        color: #393A3F;
        display: flex;
        align-items:center;
        justify-content: space-between;
        background-color: #ffffff; 
        padding: 7px 30px;
  }
  .rs
  {
    display: flex;
    gap:30px;
    margin: 0 auto;
    cursor: pointer;
  }
  .ls{
        display: flex;
        align-items: center;
        justify-content:center;
        padding-left: 30px;
        gap: 10px;
  }
  .ls img {
        width: 40px; 
        height: 32px;
  }
  .rs h5 {
        margin: 0;
        font-weight: 500;
}
.button{
    font-family: 'Poppins';
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.but{
    display: flex;
    gap: 15px;
    padding-right: 30px;
}
.log{
    background: #5A7FFF;
    color: white;
    border: 2px solid #5A7FFF;
    border-radius: 10px;  
    padding: 10px 25px;  
}
.log:hover {
    background: #5A7FFF;
    color: white;
}
.get {
    background: #5A7FFF;
    color: white;
    border: #5A7FFF;
    border-radius: 10px;  
    padding: 10px 25px;  
}
.get:hover {
    background: #3E6AE1;
    border: white;
}
.down1{
    display: flex;
    background-color:#F7F9FF;
    width: 1243px;
    height: 950px;
    align-items:center;
    justify-content:flex-start;
    padding: 30px 20px; 
    font-family: 'Poppins';
}
.pas{
    flex: 1;
    padding: 150px;
    font-weight: 200;
    margin-top: -350px;
}
.pas1{
    color: black;
    align-items: center;
    margin-top: -200px;
    margin-right: -150px;
}
.pas2{
    color: blue;
    margin-bottom: 15px;
}
.content{
    font-size: 14px;
    color: #47413f;
    font-weight: 100;
    width: 350px;
    margin-bottom: 20px;
}
.frame{
    display: flex;
    width: 475px;
    height: 325px;
    margin-top: -450px;
    margin-right: 100px;
    margin-left: -100px;
}
.tick{
    display: flex;
    width:358px;
    gap: 10px;
}
.tick img{
    padding-top: 20px;
    height: 20px;
    width:20px;
}
.epl{
    background: #5A7FFF;
    color: white;
    border-radius: 10px; 
    border:none;
}
.root{
    background-color: #0D1226;
    height:386px;
}